extends ../base-layout.pug

block append header
  p(style='font-size: 21px; font-weight: 600; margin-bottom: -1rem;') Olá, #{name}!
  p Você solicitou uma redefinição de senha.

block append subheader
  p Por favor, clique no botão abaixo para redefinir sua senha  no sistema de Backoffice Onboarding Via Varejo.

block append content
  table(style='max-width: 500px; width: 100%' cellspacing='0' cellpadding='0' border='0' align='center')
    tbody
      tr
        td(style='height: 2px; background: #fede9e')
      tr
        td(style='padding: 3rem 1rem 1.5rem' align='center')
          a(style='\
          background: #009200;\
          padding: 0.8rem 1rem;\
          border-radius: 0.3rem;\
          color: white;\
          text-decoration: none;\
          font-weight: 500;\
          ' href=`${_email.admin_url}/senha/recuperacao/${passwordToken}`) Redefinir senha
      tr
        td(style='font-size: 14px; padding: 0 1rem' align='center')
          p(style='font-weight: 500; margin-bottom: -1rem')
            | Atenção!
          p(style='font-style: italic')
            | Esse link irá expirar em 24 horas
      tr
        td(style='height: 2px; background: #ebebeb')
      tr
        td(style='font-size: 14px; padding: 0 0.3rem' align='center')
          p(style='font-style: italic; color: #8c8c8c')
            | Caso você não realizou essa solicitação, por favor,
            | desconsidere este e-mail.
      tr
        td(style='height: 2px; background: #ebebeb')
