extends ../base-layout.pug

block append header
  p(style='font-size: 21px; font-weight: 600; margin-bottom: -1rem;') Olá, #{name}!
  p Sua senha foi atualizada.

block append subheader
  p Estamos te notificando que a sua senha no sistema de Backoffice Onboarding Via Varejo foi atualizada com sucesso.

block append content
  table(style='max-width: 500px; width: 100%' cellspacing='0' cellpadding='0' border='0' align='center')
    tbody
      tr
        td(style='height: 2px; background: #fede9e')
      tr
        td(style='padding: 0 1rem' align='center')
          p(style='font-size: 14px; font-style: italic') Se você não efetuou a mudança de senha, redefina-a imediatamente #[a(href=_email.admin_url) neste link]. #[br]
      tr
        td(style='height: 2px; background: #ebebeb')
