extends ../base-layout.pug

block append banner
  td(bgcolor='#ffffff')
    img.fluid(src=`${_email.imgPath}updated-password.jpg`, aria-hidden='true', width='680', height='', alt='alt_text', border='0', align='center', style='width: 100%; max-width: 680px; height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;')
block append content
  td(bgcolor='#ffffff')
    table(role='presentation', aria-hidden='true', cellspacing='0', cellpadding='0', border='0', width='100%')
      tr
        td(style='padding: 40px; text-align: center; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;')
          p Olá, #{name}. Você atualizou a sua senha da #[strong Área Administrativa do #{_email.base_name}].
          p Estamos te notificando que a sua senha foi atualizada com sucesso.
          p Se você não efetuou a mudança de senha, redefina-a imediatamente #[a(href=_email.admin_url) neste link].
          br
